.mat-form-field {
  margin-right: 20px;
}
.mat-table {
  overflow: auto;
  width: 100%;
  border: 1px solid lightgray;
}
.mat-header-cell {
  width: 100%;
}
.mat-cell {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
}
.error {
  background-color: indianred;
  font-size: 20px;
  width: 100%;
  margin-bottom: 20px;
}
.mat-column-index {
  flex: 0 0 10%;
}
.mat-column-title {
  flex: 0 0 25%;
}
.mat-column-authors {
  flex: 0 0 40%;
}
.mat-column-publisher {
  flex: 0 0 25%;
}
button {
  outline: none;
  overflow-x: hidden !important;
  white-space: pre-wrap !important;
}
.title {
  text-transform: capitalize;
  font-weight: bolder;
}
.results {
  margin-bottom: 4%;
}
.mat-button {
  margin: 10px;
  font-size: 20px;
  text-transform: capitalize;
  outline: none;
}
