<mat-sidenav-container class="sidenav">
  <mat-sidenav mode="side" opened class="menu">
    <button mat-raised-button class="login" *ngIf="!isAuthenticated" (click)="login()">
      <i class="material-icons">
        exit_to_app
      </i>
    </button>
    <button mat-raised-button class="logout" *ngIf="isAuthenticated" (click)="logout()">
      <i class="material-icons">
        exit_to_app
      </i>
    </button>
    <p></p>
    <app-menu id="menu"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <button mat-raised-button class="logo" [routerLink]="'/home'">
      <h1>E-Book Library</h1>
    </button>
    <div class="router">
      <router-outlet id="content"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
