<mat-sidenav-container class="sidenav">
  <mat-sidenav mode="side" opened class="menu">
    <button mat-raised-button class="login" (click)="check()">
      <i class="material-icons">
        exit_to_app
      </i>
    </button>
<!--    <button mat-raised-button class="logout" *ngIf="isAuthenticated" (click)="check()" [routerLink]="'/home'">-->
<!--      <i class="material-icons">-->
<!--        exit_to_app-->
<!--      </i>-->
<!--    </button>-->
    <app-menu id="menu"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <button mat-raised-button class="logo" [routerLink]="'/home'">
      <h1>E-Book Library</h1>
    </button>
    <div class="router">
      <router-outlet id="content"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
