<div class="row">
  <mat-card class="error" *ngIf="error" (click)="error = false">
    <mat-card-header>
      {{errorMessage}}
    </mat-card-header>
  </mat-card>
</div>
<div class="row" *ngIf="isElevated()">
  <button mat-raised-button class="bDelete" (click)="openDeleteConfirmationDialog()">Delete account</button>
  <button mat-raised-button class="bElevate" *ngIf="elevated === false" (click)="elevateUser()">Elevate account</button>
</div>
<div class="row">
  <p class="title">{{username}}'s library:</p>
</div>
<div class="row">
  <table mat-table #table [dataSource]="result">
    <!-- Id Column -->
    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
      <mat-cell *matCellDef="let i = index; "> {{i + 1}} </mat-cell>
    </ng-container>
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title</mat-header-cell>
      <mat-cell *matCellDef="let book">
        <button mat-button (click)="goToBook(book?.bookId)">
          {{book?.title}}
        </button>
      </mat-cell>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="authors">
      <mat-header-cell *matHeaderCellDef> Authors</mat-header-cell>
      <mat-cell *matCellDef="let book">
        <button mat-button *ngFor="let author of book?.authors"
                (click)="goToAuthor(author)">{{author}}</button>
      </mat-cell>
    </ng-container>
    <!-- Delete Column -->
    <ng-container matColumnDef="delete" *ngIf="authenticated">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let book">
        <button mat-button (click)="deleteFromLibrary(book?.bookId)">
          <i class="material-icons">delete</i>
        </button>
      </mat-cell>
    </ng-container>

    <!--    Header-->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let book; let i = dataIndex; columns: displayedColumns;"></mat-row>
  </table>
</div>

<div class="row">
  <p class="title-comment">{{username}}'s comments:</p>
</div>
<div class="row" id="comments">
  <mat-card class="comment" *ngFor="let comment of comments">
    <mat-card-header>
      <mat-card-title>
        <button mat-button class="book-title" (click)="goToBook(comment?.bookId)">
          {{comment.title}}
        </button>
        <button mat-raised-button class="bDeleteComment"
                *ngIf="comment.username === currentUser" (click)="deleteComment(comment)">
          <i class="material-icons">delete</i>
        </button>
      </mat-card-title>
      <mat-card-subtitle>{{comment.timestamp | date: 'yyyy-MM-dd HH:mm'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{comment.comment}}
    </mat-card-content>
  </mat-card>
</div>
