<div class="content">
  <p>Witaj w aplikacji do zarządzania książkami!</p>
  <p>Kliknięcie w logo przekierowuje spowrotem do tej strony.</p>
  <p>Aby obejrzeć dostępne książki wybierz z menu nawigacyjnego opcję "BOOKS". Pozwala ona wyszukiwanie dostępnych
    ksiązek. Wyszukiwać można po tytule, tytule i autorze albo po wydawcy książki.</p>
  <p>Jeśli użytkownik jest zalogowany, wybranie opcji "MY ACTIVITY" pozwala na wyświetlenie książek dodanych przez
    użytkownika do biblioteczki, a także wyświetlenie wszystkich jego komentazy. W innym przypadku użytkownik
    przekierowywany jest do strony logowania.</p>
  <p>Opcja "UPLOAD E-BOOK" pozwala zalogowanemu użytkownikowi dodanie nowej książki poprzez przesłanie pliku w
  formacie .EPUB.</p>
  <p>Opcja "FIND USER" pozwala wyświetlić komentarze i biblioteczkę wybranego użytkownika.</p>
</div>
