<div class="content">
  <p class="welcome">Witaj w aplikacji do zarządzania książkami!</p>
  <p class="admin-text">Każde uruchomienie części serwerowej dodaje użytkownika z uprawnieniami administratora o nazwie
    użytkownika "admin" i haśle "admin".</p>
  <p class="instruction">Krótka instrukcja obsługi:</p>
  <ul>
  <li><p>Kliknięcie w logo przekierowuje spowrotem do tej strony.</p></li>
    <li><p>Aby obejrzeć dostępne książki wybierz z menu nawigacyjnego opcję "BOOKS". Pozwala ona wyszukiwanie dostępnych
    ksiązek. Wyszukiwać można po tytule, autorze albo wydawcy książki.</p></li>
    <li><p>Jeśli użytkownik jest zalogowany, wybranie opcji "MY ACTIVITY" pozwala na wyświetlenie książek dodanych przez
    użytkownika do biblioteczki, a także wyświetlenie wszystkich jego komentarzy. W innym przypadku użytkownik
    przekierowywany jest do strony logowania.</p></li>
    <li><p>Opcja "UPLOAD E-BOOK" pozwala zalogowanemu użytkownikowi dodanie nowej książki poprzez przesłanie pliku w
  formacie .EPUB.</p></li>
    <li><p>Opcja "FIND USER" pozwala wyświetlić komentarze i biblioteczkę wybranego użytkownika.</p></li>
    <li><p>Więcej książek można pobrać ze strony <a href="https://wolnelektury.pl/">Wolne Lektury</a>.</p></li>
  </ul>
</div>
