<mat-toolbar class="nav" id="menu">
  <mat-nav-list fxLayout>
    <mat-list-item fxFlex id="home">
      <h2>HOME</h2>
    </mat-list-item>
    <mat-list-item fxFlex id="categories" [routerLink]="'/books/categories'">
      <h2>CATEGORIES</h2>
    </mat-list-item>
    <mat-list-item fxFlex id="upload" [routerLink]="'/upload'">
      <h2>UPLOAD E-BOOK</h2>
    </mat-list-item>
    <mat-list-item fxFlex id="library" [routerLink]="'/library'">
      <h2>MY LIBRARY</h2>
    </mat-list-item>
    <mat-list-item fxFlex id="account" [routerLink]="'/user/account'">
      <h2>MY ACCOUNT</h2>
    </mat-list-item>
    <mat-list-item fxFlex id="search">
      <h2>SEARCH</h2>
    </mat-list-item>
  </mat-nav-list>
</mat-toolbar>
