#menu {
  height: 100%;
  width: 100%;

  font-family: "nevis";
  color: #28a745;
  text-align: center;
}
.mat-list-item {
  height: 100%;
}
.mat-nav-list {
  padding: 0;
  height: 100%;
  flex-direction: row;
}
