<mat-toolbar class="nav" id="menu">
    <mat-nav-list class="list-horizontal">
      <mat-list-item id="home">
        <h2>HOME</h2>
      </mat-list-item>
      <mat-list-item id="categories" [routerLink]="'/books/categories'">
        <h2>CATEGORIES</h2>
      </mat-list-item>
      <mat-list-item id="upload" [routerLink]="'/upload'">
        <h2>UPLOAD E-BOOK</h2>
      </mat-list-item>
      <mat-list-item id="library" [routerLink]="'/library'">
        <h2>MY LIBRARY</h2>
      </mat-list-item>
      <mat-list-item id="account" [routerLink]="'/user/account'">
        <h2>MY ACCOUNT</h2>
      </mat-list-item>
      <mat-list-item id="search">
        <h2>SEARCH</h2>
      </mat-list-item>
    </mat-nav-list>
</mat-toolbar>
