<mat-toolbar class="nav" id="menu">
  <div class="container-fluid">
    <mat-nav-list class="nav">
      <mat-list-item class="col-2"></mat-list-item>
      <mat-list-item class="col-2" id="categories" [routerLink]="'/books/categories'">
        <div class="h5">CATEGORIES</div>
      </mat-list-item>
      <mat-list-item class="col-2" id="upload" [routerLink]="'/upload'">
        <div class="h5">UPLOAD E-BOOK</div>
      </mat-list-item>
      <mat-list-item class="col-2" id="library" [routerLink]="'/library'">
        <div class="h5">MY LIBRARY</div>
      </mat-list-item>
      <mat-list-item class="col-2" id="account" [routerLink]="'/user/account'">
        <div class="h5">MY ACCOUNT</div>
      </mat-list-item>
      <mat-list-item class="col-2"></mat-list-item>
    </mat-nav-list>
  </div>
</mat-toolbar>
