.container-fluid {
  height: 100%;
  padding: 0;
}
.row {
  vertical-align: middle;
  justify-content: center;
}
#menu {
  height: 100%;
  width: 100%;

  font-family: "nevis";
  color: #28a745;
  text-align: center;
}
.col-2 {
  padding: 0;

  height: 100%;
  width: 20%;
  justify-items: center;
  /*line-height: 2.9em;*/
}
.h4 {
  vertical-align: center;
}
.mat-list-item {
  float: right;
}
