/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@font-face {
  font-family: nevis;
  src: url(assets/fonts/NevisBold.ttf) format("opentype");
}
p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  word-wrap: break-spaces;
}
hr {
  color: #f5f5f5;
}
