<div class="row" #title>
  <div class="col-5">
    <h1>{{bookInfo.title}}</h1>
  </div>
  <div class="col-5">
    <button mat-raised-button (click)="addToLibrary()">
      <i class="material-icons">add_box</i>
    </button>
    <button mat-raised-button (click)="deleteBook()">
      <i class="material-icons">delete_sweep</i>
    </button>
  </div>
  <div class="col-2">

  </div>
  <hr>
</div>
<div class="row">
  <div class="col-5">
    <button mat-raised-button *ngIf="!showImage" (click)="show()">Show cover</button>
    <img [src]="imageToShow" alt="cover" *ngIf="showImage" (click)="showImage = false">
  </div>
  <div class="col-7">
    <div class="authors">
      <p>Authors:
        <button mat-raised-button *ngFor="let author of bookInfo.authors"
                (click)="goToAuthor(author)">{{author}}</button>
      </p>
    </div>
    <div class="publisher">
      <p>Publisher:
        <button mat-raised-button (click)="goToPublisher()">{{bookInfo.publisher}}</button>
      </p>
    </div>
    <p>Release date: {{bookInfo.releaseDate |  date:'dd/MM/yyyy'}}</p>
  </div>
</div>
