h1 {
  text-transform: capitalize;
}
img {
  border:1px solid black;
  height: 370px;
  width: 300px;
}
p {
  text-transform: capitalize;
}
button {
  margin: 10px;
  text-transform: capitalize;
  outline: none;
}
.error {
  background-color: indianred;
  font-size: 20px;
  width: 100%;
  margin-bottom: 20px;
}
.comment-box {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}
.comment {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}
