<div class="row" #title>
  <div class="col-5">
    <h1>{{bookInfo?.title}}</h1>
  </div>
  <div class="col-6">
    <button mat-raised-button *ngIf="isInLibrary === false" (click)="addToLibrary()">
      Add to library
    </button>
    <button mat-raised-button *ngIf="isInLibrary === true" (click)="removeFromLibrary()">
      Delete from library
    </button>
    <button mat-raised-button class="bDelete" *ngIf="isElevated() === true" (click)="openDeleteConfirmationDialog()">
      <i class="material-icons">delete</i>
    </button>
  </div>
  <div class="col-1">

  </div>
  <hr>
</div>
<div class="row">
  <div class="col-5">
    <img [src]="imageToShow" alt="cover">
  </div>
  <div class="col-7">
    <div class="authors">
      <p>Authors:
        <button mat-button *ngFor="let author of bookInfo?.authors"
                (click)="goToAuthor(author)">{{author}}</button>
        <button mat-button class="bEditAuthors" *ngIf="isElevated() === true" (click)="openEditDialog()">
          <i class="material-icons">edit</i>
        </button>
      </p>
    </div>
    <div class="publisher">
      <p>Publisher:
        <button mat-button (click)="goToPublisher(bookInfo.publisher)">{{bookInfo?.publisher}}</button>
      </p>
    </div>
    <p>Release date: {{bookInfo?.releaseDate |  date:'dd/MM/yyyy'}}</p>

    <div class="row">
      <mat-form-field class="comment-box">
        <textarea mat-autosize name="text" maxlength="300"
                  matInput [(ngModel)]="commentContent" placeholder="Leave a comment"></textarea>
      </mat-form-field>
      <button mat-raised-button class="bComment" (click)="publish()">Comment</button>
    </div>
    <div class="row" id="comments">
      <mat-card class="comment" *ngFor="let comment of comments">
        <mat-card-header>
          <mat-card-title>
            <button mat-button (click)="goToUser(comment.username)">{{comment.username}}</button>
            <button mat-raised-button class="bDeleteComment"
                    *ngIf="comment.username===currentUser || isElevated() === true" (click)="deleteComment(comment)">
              <i class="material-icons">delete</i>
            </button>
          </mat-card-title>
          <mat-card-subtitle>{{comment.timestamp | date: 'yyyy-MM-dd HH:mm'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{comment.comment}}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
